<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CourseraLoginURL</key>
	<string>https://www.coursera.org/maestro/api/user/login</string>
	<key>CourseraLoginReferer</key>
	<string>https://www.coursera.org/account/signin</string>
	<key>CourseraCourseURL</key>
	<string>https://www.coursera.org/maestro/api/topic/list_my?user_id=%@</string>
	<key>CourseraLectureURL</key>
	<string>http://jerryxu.mine.nu:8080/coursera/classes/%d/lectures</string>
</dict>
</plist>
